<h1><%= @project.name %> incidents</h1>

<% if @incidents.present? %>


<table class="table table-bordered table-striped table-condensed">
  <thead>
    <tr>
      <th>Date</th>
      <th>Your name</th>
      <th>Job title</th>
      <!-- <th>Injury date</th> -->
      <!-- <th>Injury time</th> -->
      <th>Witnesses</th>
      <th>Location</th>
      <th>Circumstances</th>
      <th>Event discription</th>
      <th>Injuries type</th>
      <!-- <th>Ppe used</th> -->
      <!-- <th>Medical assistance provided</th> -->
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @incidents.each do |incident| %>
      <tr>
        <td><%= incident.created_at.strftime("%m/%d/%Y") %></td>
        <td><%= incident.your_name %></td>
        <td><%= incident.job_title %></td>
        <!-- <td><%#= incident.injury_date.strftime("%a  %d - %m - %Y") %></td> -->
        <!-- <td><%#= incident.injury_time.strftime("%I:%M %p") %></td> -->
        <td><%= incident.witnesses %></td>
        <td><%= incident.location %></td>
        <td><%= incident.circumstances %></td>
        <td><%= incident.event_discription %></td>
        <td><%= incident.injuries_type %></td>
        <!-- <td><%#= incident.ppe_used %></td> -->
        <!-- <td><%#= incident.medical_assistance_provided %></td> -->
        <td><%= link_to 'Show', project_incident_path(@project, incident), class: "btn btn-xs btn-primary" %>
        <%#= link_to 'send email', send_email_incident_path(incident), class: "btn btn-xs btn-success" %>
        <%= link_to 'Download Report', send_new_incident_incident_path(incident, {format: :pdf}), class: "btn btn-xs btn-primary" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% else %>
  <div class="alert alert-info">No incident report found.</div>
<% end %>
<%= link_to 'New Incident', new_project_incident_path(@project), class: "btn btn-sm btn-primary" %>
