<script type="text/javascript">
  $(document).ready(function(){

    if ( $('#inc_id').length > 0 && $('#inc_id').val() > 0 ){
      window.location.href = '/incidents/'+ $('#inc_id').val() +'/send_new_incident.pdf';
    }

  });  
</script>
<%= hidden_field_tag 'active_class', 'all_projects'%>
<% if @customers.present? %>  
  <%#= link_to "Reports", report_projects_path, class: "btn btn-sm btn-info pull-right" ,style: "margin-bottom: 8px;"%>
  <h1>Customer List</h1>
  <table class="table table-bordered table-striped table-condensed">
    <thead>
      <th>Customer Name</th>
      <th>Contact Info</th>
      <!-- <th>Address</th> -->
      <th>Action</th>
    </thead>  
    <tbody>
      <% @customers.each do |customer|%>
        <tr>
          <td><%= link_to customer.name, customer_items_path(customer)%></td>
          <td><%= customer.phone %></td>
          <td>
            <%#= link_to "show", project_path(project), class: "btn btn-default btn-sm" %>
            <%#= link_to "Download Detailed Report", detail_report_project_path(project, { format: :pdf}), class: "btn btn-sm btn-info" %>
            <%#= link_to "Send Incident Report", project_incidents_path(project), class: "btn btn-sm btn-primary" %>
            <%#= link_to "Incident Report", "#", class: "btn btn-xs btn-success" %>
            <!-- project_incidents_path(project) -->
            <%#= link_to "Checklists", "#", class: "btn btn-xs btn-info"%>       
            <!-- report_project_path(project) -->
            <%= link_to "users", users_customer_path(customer), class: "btn btn-xs btn-warning" %>
            <!-- users_project_path(project) -->
            <%= link_to "View items","#" , class: "btn btn-xs btn-primary" %>

            <% if current_user.role == "client" %>
              <%= link_to "Assign to user", assign_customer_customer_path(customer), class: "btn btn-xs btn-primary" %>
            <% end %>  
            <%#= link_to 'Delete', project, data: { confirm: 'Are you sure?' }, method: :delete, class: "btn btn-xs btn-danger" %>
            </td>
        </tr>
      <% end %>   
    </tbody>  
  </table> 
<% else %>
  <b>No Customer Present</b>
<% end %>   
